* {
    box-sizing: border-box;
}

body {
    margin: 0 auto;

}

.d-flex {
    display: flex;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.cta-button {
    padding: 10px 30px;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    border-radius: 50px;
    border: 0px;
}

.search-bar button {
    background-color: black;
    color: #fff;
    line-height: 12px;
}

.pos-a {
    position: absolute;
}

.pos-r {
    position: relative;
}

.pos-f {
    position: fixed;
}

/* hero-section */
header {
    margin: 0 auto;
}

.main-navigation {
    justify-content: space-between;
    margin: 0;
    padding: 24px 112px;
    align-items: center;
}

.nav-list {
    gap: 20px;
}

.nav-list a {
    color: #fff;
    font-size: 24px;
}

.create-account {
    color: black;
    background-color: #fff;
}

.background {
    max-width: 1440px;
    margin: 0 auto;
}

.hero-section {
    background: linear-gradient(to bottom, #0a3e02b2, #00000000), url('../images/background.png');
    text-align: center;
    background-size: cover;
}

.hero-container {
    margin: 0 auto;
    text-align: center;
    max-width: 750px;
}

.hero-container .rete-number {
    color: #fff;
}

.stars-number {
    justify-content: center;
    gap: 20px;
    color: #fff;
    font-size: 24px;
}

.stars-number img {
    width: 116px;
    height: 20px;
}

.search-bar {
    background-color: #fff;
    border-radius: 500px;
    justify-content: space-between;
    width: 600px;
    margin: 0 auto;
    height: 44px;
    padding: 12px;
    align-items: center;
}

.search-bar .text {
    align-items: center;
}


.search-bar .img {
    margin-right: 12px;
}

.search-bar img {
    width: 16px;
    height: 16px;
}

.hero-container h1 {
    font-size: 80px;
    color: #fff;
    margin: 18px 0;
    text-transform: capitalize;
}

.check {
    justify-content: space-between;
    width: 600px;
    margin: 0 auto;
    height: 44px;
    padding: 12px 0;
    align-items: center;
    color: #fff;
    padding-bottom: 400px;
    padding-top: 20px;
}

.check span {
    gap: 10px;
    align-items: center;
}

.check span img {
    width: 20px;
    height: 20px;
}

.features-container {
    background: linear-gradient(#00000064);
    border-top: solid 1px #959595;
}

.features-grid {
    width: 1218px;
    color: #fff;
    text-align: left;
    gap: 30px;
    margin: 0 auto;
    justify-content: space-between;
}

.features-grid .title {
    font-size: 18px;
}

.features-grid .description {
    font-size: 16px;
    color: #C7C7C7;
}

.feature.active {
    border-top: solid 4px #FFF500;
}

/* rending-hikes */
.trending-hikes{
    background-color: #171412;
    padding: 120px 0 120px;
}

.trending-hikes .content{
    max-width: 1218px;
    margin: 0 auto 24px;
}

.trending-hikes .content .title{
    color: #FFF624;
    font-size: 16px;
    text-transform:uppercase;
}

.trending-hikes .content .text{
justify-content: space-between;
align-items: center;
}

.trending-hikes .content a{
color: #FFF624;
text-decoration: underline;
text-transform: uppercase;
}

.trending-hikes .content .description{
font-size: 40px;
color: #fff;
}

.gallery{
    justify-content: space-between;
    gap: 8px;
    width: 1440px;
    margin: 0 auto;
    flex-wrap: wrap;
}

.gallery-item{

}

.gallery-item .content{
    bottom: 0px;
    justify-content: space-between;
    width: 354px;
    padding: 0 18px;
    color: #fff;
    align-items: center;
}

.gallery-item .content img{
    width: 32px;
    height: 32px;
}

/* explore-without-limits */
.explore-without-limits{
background-color: #292524;
}
.explore-without-limits .container{
    padding: 96px 0px;
    max-width: 1218px;
    margin: 0 auto;
    justify-content: space-between;
    gap: 46px;
    align-items: center;
}

.explore-without-limits .content{
    color: hsl(0, 0%, 100%);
    width: 47.9%;
}

.explore-without-limits .content h3{
font-size: 40px;
}

.explore-without-limits .content p{
font-size: 18px;
}

.explore-without-limits .content span{
    gap: 10px;
    align-items: center;
    font-size: 18px;
}

.explore-without-limits .content span img{
    width: 20px;
    height: 20px;
}

.explore-without-limits .content .create-account a{
color: #000;
}

.explore-without-limits .images{
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 8px;
    width: 52.1%;
}


.explore-without-limits .card{
    justify-content: center;
}

.explore-without-limits .card p{
    bottom: 0px;
    color: #fff;
}

/* app-promotion */
.app-promotion{
    background-color: #171412;
    padding: 96px 0;
}

.app-promotion .container{
    width: 1280px;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    background-color: #292524;
    color: #fff;
}

.app-promotion .container .label{
    width: 727px;
    padding-left: 31px;
}

.app-promotion .container .label span{
    gap: 12px;
    align-items: center;
}

.app-promotion .container .label span img{
    width: 20px;
    height: 20px;
}

.app-downioad-links{
    gap: 12px;
}

.mockup{
    right: 130px;
    top: 44px;
}