body {
    background-image: url('../images/background.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0px;
    padding: 0px;
    font-family: 'Helvetica Neue';
}

.container {
    max-width: 1200px;
    margin: 0px auto;
    padding: 20px;
}

.team-container {
    text-align: left;
    margin-top: 40px;
    max-width: 68%;
}

.welcome-message {
    font-size: 48px;
    color: #fff;
    font-weight: 300;
    margin-bottom: 20px;
}

.team-description {
    font-size: 24px;
    color: #fff;
    font-weight: 200;
}

.team-container .team-name {
    font-weight: 900;
}

.cards-container {
    display: block;
    width: 100%;
}

.cards-container .card {
    display: inline-block;
    vertical-align: top;
    width: 28.3%;
    background-color: #F4F4F4;
    border-radius: 16px;
    padding: 24px;
    margin: 7px 7px;
}

.ml-0 {
    margin-left: 0px !important;
}

.mr-0 {
    margin-right: 0px !important;
}

.cards-container .card .image-container {
    text-align: center;
    padding: 15px 0px;
}

.cards-container .card img {
    object-fit: cover;
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.cards-container .card .name {
    font-size: 24px;
    margin: 10px 0px;
    text-align: center;
    color: #7A0A72;
}

.cards-container .card .role {
    font-size: 16px;
    color: #353535;
    text-align: left;
    height: 150px;
}

.cards-container .card .view-profile {
    text-align: center;
    width: 100%;
    margin-top: 20px;
}

.cards-container .card .view-profile a {
    display: block;
    text-decoration: none;
    color: #fff;
    background-color: #B220AF;
    width: 100%;
    border-radius: 25px;
    padding: 10px 0px;
    font-size: 18px;
}