* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #F6FDFF;
}

.d-flex {
    display: flex;
}

.m-0-auto {
    margin: 0 auto;
}


.ul-none {
    list-style: none;
}

.a-none {
    text-decoration: none;
}

.cta-button {
    padding: 12px 40px;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    border-radius: 12px;
    font-size: 18px;
    border: 2px solid #CCDEE6;
}

/* Heaer Section */
header {
    max-width: 1728px;
    text-align: center;
    padding: 30px;

}

.site-header {
    justify-content: space-between;
    align-items: center;
    margin: 0 auto 116px;

}


.logo {}

.main-navigation {}

.nav-list {
    justify-content: space-between;
    align-items: center;
    gap: 70px;

}

.nav-list li a {
    color: #073141;
}

.login-button {
    background-color: #1D7293;
    color: #fff;
    padding: 12px 60px;
}


/* Hero Section */
.hero-content {
    max-width: 1400px;
    padding: 0 120px;
    margin: 30px auto;
    justify-content: center;
    align-items: center;
}

.hero-title {}

.red-text {
    color: #A36E7A;
}

.blue-text {
    color: #7096A5;
}

.hero-title h1 {
    color: #073141;
    font-size: 60px;
    font-weight: 400;
    font-family: sans-serif;
    margin-bottom: 50px;
}

.cta-buttons-contaner {
    gap: 30px;
}

.see-artwork {
    background-color: #1D7293;
    color: #fff;

}

.meet-artists {
    background-color: #F6FDFF;
    color: #1D7293;

}

.hero-image {
    object-fit: cover;
}

.carousel-indicators {
    justify-content: center;
    gap: 10px;
}

.indicator.active {
    background-color: #68A2B8;

}

.indicator {
    background-color: #B9D6E1;
    height: 10px;
    width: 40px;
    border-radius: 10px;
}

/* about-section */
.about-section {
    max-width: 1000px;
    text-align: center;
    margin: 160px auto;
}

.about-section .title {
    color: #1D7293;
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 20px;
}

.about-section .description {
    font-size: 20px;
    margin-bottom: 40px;
}

.stats-container {
    justify-content: space-between;
}

.stat .number {
    font-size: 32px;
}


/* featured-artworks-section */
.featured-artworks-section {
    text-align: center;
    max-width: 1728px;
    margin: 160px auto;
    padding: 0 20px;
}

.featured-artworks-section .title {
    color: #1D7293;
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 20px;
}

.featured-artworks-section .description {
    font-size: 20px;
    margin-bottom: 40px;
}

.artwork-grid {
    justify-content: space-between;
    gap: 40;
    flex-wrap: wrap;
    color: #68818B;
    margin: 0 auto;
}

.artwork-card {
    flex: 0 1 calc(25% - 40px);
    width: 100%;
    margin-bottom: 40px;
}

.artwork-title {
    padding: 10px 0;
    font-size: 20px;
    width: 400px;
    margin: 0 auto;
    justify-content: center;
}

.artist {
    justify-content: start;
    width: 190px;
    gap: 10px;
}

.gallery-button {
    justify-content: end;
    width: 200px;
    gap: 20px;
}

.heart {
    justify-content: center;
    gap: 6px;
}

.eye {
    justify-content: center;
    gap: 6px;
}

.artwork-title img {
    object-fit: none;
}

.explore-butten .explore-more {
    background-color: #1D7293;
    color: #fff;
}

/* artist-spotlight-section */

.artist-spotlight-section {
    max-width: 1300px;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin: 160px auto;
}


.artist-spotlight-section .title {
    color: #1D7293;
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 40px;
    text-align: center;
}

.profile-card {
    align-items: center;
    background-color: #E0EFF4;
    padding: 40px;
    flex-direction: column;
    gap: 40px;
    margin: 0px auto 80px;
    width: 100%;
    justify-content: center;
    border-radius: 0px 30px 0px 30px;

}

.profile-card .avatar {
    gap: 40px;
    align-items: center;
    margin: 0 auto;
    width: 100%;
}

.avatar img {}

.avatar .info {
    flex-direction: column;
    gap: 12px;
    margin: 0 auto;
}

.avatar .info .name {
    font-size: 24px;
}

.avatar .info .bio {
    font-size: 18px;
}

.avatar .social-links {
    gap: 20px;
}

.avatar .social-links a {
    width: 25px;
    height: 25px;
}


.profile-card .gallery {
    justify-content: center;
    gap: 40px;
    max-width: 100%;
}

.work-card {
    flex-direction: column;
    gap: 12px;
    width: calc(50% - 20px);
}

.work-card .work-image {}

.work-title {
    font-size: 24px;
}

.work-description {
    font-size: 18px;
}

/* community-cta-section */
.community-cta-section {
    background: #1D7293 url('../images/object.png');
}

.cta-content {
    flex-direction: column;
    max-width: 1000px;
    margin: 0 auto;
    justify-content: space-around;
    text-align: center;
    gap: 40px;
    padding: 40px 0;
    color: #fff;
}

.cta-content .title{
font-size: 24px;
}

.cta-content .description{
    font-size: 18px;
}

.cta-content button {
    background-color: #F6FDFF;
    text-align: center;
    width: 200px;
    margin: 0 auto;
}

.cta-content button a {
    color: #1D7293;
}